@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.main {
  display: flex;
  flex-direction: column;
}

/* ==================Navbar================== */
.customnavbar {
  background-color: blueviolet !important;
}

.customnavbar a {
  color: white !important;
}

.customnavbar button {
  background-color: white;
  border: none;
  color: blueviolet;
}

.navContainer {
  display: flex;
  justify-content: space-between !important;
}

.navItems {
  display: flex;
  justify-content: flex-end !important;
}

/* ==================Hero================== */
.hero {
  background-color: blueviolet;
  height: 45rem;
  display: flex;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: left !important;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  justify-content: center;
}

.heroContent h1 {
  font-size: 3.75rem;
}

.heroContent p {
  color: white;
  text-align: left;
  padding-top: 0.75rem;
}

.heroImage {
  width: 100%;
  height: auto;
}

.customBtn {
  width: 230px;
  height: 50px;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  /* outline: none; */
}

.btn {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.btn:active {
  top: 2px;
}

/* ==================Features================== */

/* .features{
  height: 30rem; 
} */

.featureBg {
  width: 100%;
  height: auto;
  margin-top: -1px;
}

.featureBgBtm {
  width: 100%;
  height: auto;
  margin-bottom: -0.0625rem;
}

.featureImg {
  display: flex;
}

.featureContent {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: center !important;
}

.featureContent h1 {
  font-size: 2.75rem;
  width: 100% !important;
  text-align: left;
  color: blueviolet;
}

.featureSet {
  margin-top: 0.75rem;
}

.ftSubContent {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: flex-start !important;
  text-align: left;
}

.ftSubContent h2 {
  font-size: 1.25rem;
  font-weight: 37.5rem !important;
  font-style: bold;
  margin-top: 0.75rem;
}

.ftSubContent p {
  font-size: 14px;
  font-weight: 200px !important;
  opacity: 0.6;
}

/* ==================API================== */

.api {
  background-color: blueviolet;
}

.apiContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.apiContent h1 {
  color: white;
  font-size: 2.75rem;
  font-weight: 37.5rem !important;
  font-style: bold;
  margin-top: 0.75rem;
}

.apiStat {
  margin-top: 24px;
}

.counter {
  font-size: 41px;
  color: white;
}

.counter p {
  font-size: 15px;
  color: white !important;
  /* opacity: 0.6; */
}

.statSubContent {
  color: white;
  margin-top: 0.9375rem;
  opacity: 0.6;
}

/* pricing */

.pricingContainer{
  margin-top: 1.125rem !important;
}

.pricingHeading{
  color: #b621fe;
  font-size: 2.75rem;
}

.pricingSubHeading{
  font-size: 18px !important;
}

.priceCardActive{
  background-color: blueviolet;
  color: #fff;
}
/* ==================Media Query Mobile Devices================== */

@media (max-width: 576px) {

  /* ==================hero================== */
  .navItems {
    justify-content: flex-start !important;
  }

  .customBtn {
    width: 200px;
  }

  .heroImage {
    width: 20rem !important;
    height: auto;
    margin-top: 1.125rem;
  }

  .heroContent {
    align-items: center;
    margin-top: 5rem !important;
  }

  .heroContent h1 {
    font-size: 3rem;
    text-align: center;
  }

  .heroContent p {
    text-align: center;
  }

  /* ==================feature================== */

  .featureImgContainer {
    display: flex !important;
    justify-content: center !important;
  }

  .featureImg {
    width: 20rem;
    height: auto;
  }

  .featureContent {
    align-items: center;
  }

  .featureContent h1 {
    text-align: center;
  }

  .ftSubContent {
    align-items: center;
    text-align: center;
  }

  /* ==================Api================== */

  .apiContent {
    text-align: center;
    align-items: center;
  }

  .apiStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


/* ==================Media Query tabs and other devices================== */
@media (max-width: 992px) {
  
  .hero{
    height: auto;
  }

  .heroContent {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 9.375rem;
  }
}