@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.main {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.customnavbar {
  background-color: blueviolet !important;
}

.customnavbar a {
  color: white !important;
}

.customnavbar button {
  background-color: white;
  border: none;
  color: blueviolet;
}

.navContainer {
  display: flex;
  justify-content: space-between !important;
}

.navItems {
  display: flex;
  justify-content: flex-end !important;
}

/* Hero */
.hero {
  background-color: blueviolet;
  height: 720px;
  display: flex;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: left !important;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  justify-content: center;
}

.heroContent h1 {
  font-size: 60px;
}

.heroContent p {
  color: white;
  text-align: left;
  padding-top: 12px;
}

.heroImage {
  width: 100%;
  height: auto;
}

.customBtn {
  width: 14.375rem;
  height: 3.125rem;
  color: #fff;
  border-radius: 0.9375rem;
  padding: 0.625rem 1.5625rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 0.125rem 0.125rem 0.125rem 0rem rgba(255, 255, 255, .5),
    0.4375rem 0.4375rem 1.25rem 0rem rgba(0, 0, 0, .1),
    0.25rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, .1);
  /* outline: none; */
}

.btn {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 0.3125rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem 0rem rgba(255, 255, 255, .5),
    0.4375rem 0.4375rem 1.25rem 0rem rgba(0, 0, 0, .1),
    0.25rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.btn:active {
  top: 0.125rem;
}

/* Features */

/* .features{
  height: 480px; 
} */

.featureBg {
  width: 100%;
  height: auto;
  margin-top: -0.0625rem;
}

.featureBgBtm {
  width: 100%;
  height: auto;
  margin-bottom: -1px;
}

.featureImg {
  display: flex;
}

.featureContent {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: center !important;
}

.featureContent h1 {
  font-size: 44px;
  width: 100% !important;
  text-align: left;
  color: blueviolet;
}

.featureSet {
  margin-top: 12px;
}

.ftSubContent {
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: flex-start !important;
  text-align: left;
}

.ftSubContent h2 {
  font-size: 20px;
  font-weight: 600px !important;
  font-style: bold;
  margin-top: 12px;
}

.ftSubContent p {
  font-size: 0.875rem;
  font-weight: 12.5rem !important;
  opacity: 0.6;
}

/* API */

.api {
  background-color: blueviolet;
}

.apiContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.apiContent h1 {
  color: white;
  font-size: 44px;
  font-weight: 600px !important;
  font-style: bold;
  margin-top: 12px;
}

.apiStat {
  margin-top: 1.5rem;
}

.counter {
  font-size: 2.5625rem;
  color: white;
}

.counter p {
  font-size: 0.9375rem;
  color: white !important;
  /* opacity: 0.6; */
}

.statSubContent {
  color: white;
  margin-top: 15px;
  opacity: 0.6;
}

/* Media Query Mobile Devices */

@media (max-width: 36rem) {

  /* hero */
  .navItems {
    justify-content: flex-start !important;
  }

  .customBtn {
    width: 12.5rem;
  }

  .heroImage {
    width: 320px !important;
    height: auto;
    margin-top: 18px;
  }

  .heroContent {
    align-items: center;
    margin-top: 80px !important;
  }

  .heroContent h1 {
    font-size: 48px;
    text-align: center;
  }

  .heroContent p {
    text-align: center;
  }

  /* feature */

  .featureImgContainer {
    display: flex !important;
    justify-content: center !important;
  }

  .featureImg {
    width: 320px;
    height: auto;
  }

  .featureContent {
    align-items: center;
  }

  .featureContent h1 {
    text-align: center;
  }

  .ftSubContent {
    align-items: center;
    text-align: center;
  }

  /* Api */

  .apiContent {
    text-align: center;
    align-items: center;
  }

  .apiStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


/* Media Query tabs and other devices */
@media (max-width: 62rem) {
  
  .hero{
    height: auto;
  }

  .heroContent {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
  }
}