@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.main {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.customnavbar {
  background-color: blueviolet !important;
}

.customnavbar a {
  color: white !important;
}

.customnavbar button {
  background-color: white;
  border: none;
  color: blueviolet;
}

.navContainer {
  display: flex;
  justify-content: space-between !important;
}

.navItems {
  display: flex;
  justify-content: flex-end !important;
}

/* Hero */
.hero {
  background-color: blueviolet;
  height: 45rem;
  display: flex;
  align-items: center;
}

.heroContent {
  display: flex;
  align-items: left !important;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  justify-content: center;
}

.heroContent h1 {
  font-size: 3.75rem;
}

.heroContent p {
  color: white;
  text-align: left;
  padding-top: 0.75rem;
}

.heroImage {
  width: 100%;
  height: auto;
}

.customBtn {
  width: 230px;
  height: 50px;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  /* outline: none; */
}

.btn {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.btn:active {
  top: 2px;
}

/* Features */

.features{
  height: 30rem; 
}

.featureBg{
  width: 100%;
  height: auto;
  margin-top: -1px;
}

.featureImg{
  display: flex;
}

.featureContent{
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: center !important;
}

.featureContent h1{
  font-size: 2.75rem;
  width: 100% !important;
  text-align: left;
  color: blueviolet;
}

.featureSet{
  margin-top: 0.75rem;
}

.ftSubContent{
  display: flex;
  flex-direction: column;
  align-items: left !important;
  justify-content: flex-start !important;
  text-align: left;
}

.ftSubContent h2{
  font-size: 20px;
  font-weight: 600px !important;
  font-style: bold;
  margin-top: 12px;
}

.ftSubContent p{
  font-size: 14px;
  font-weight: 200px !important;
  opacity: 0.6;
}

/* Media Query */

@media (max-width: 576px) {

  /* hero */
  .navItems {
    justify-content: flex-start !important;
  }

  .customBtn{
    width: 200px;
  }

  .heroImage {
    width: 20rem !important;
    height: auto;
    margin-top: 1.125rem;
  }

  .heroContent {
    align-items: center;
  }

  .heroContent h1 {
    font-size: 3rem;
    text-align: center;
  }

  .heroContent p {
    text-align: center;
  }

  /* feature */

  .featureImgContainer{
    display: flex !important;
    justify-content: center !important;
  }

  .featureImg{
    width: 20rem;
    height: auto;
  }

  .featureContent{
    align-items: center;
  }

  .featureContent h1{
    text-align: center;
  }

  .ftSubContent{
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .heroContent {
    align-items: center;
    justify-content: center;
  }
}